<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxnt4WALh4ik-rTW2gb284UOJ7_UrfzME</string>
	<key>GCM_SENDER_ID</key>
	<string>574139841799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.artworkApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>artwork-app-a4879</string>
	<key>STORAGE_BUCKET</key>
	<string>artwork-app-a4879.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574139841799:ios:4210a51892b9b62a4cd9a2</string>
</dict>
</plist>